$primary: #f39c12; // Naranja intenso
$primary-alt: #e67e22; // Naranja más quemado

$secondary: #34495e; // Azul grisáceo
$secondary-alt: #2c3e50; // Azul oscuro más frío

$success: #2ecc71; // Verde esmeralda
$success-alt: #27ae60; // Verde más profundo

$info: #3498db; // Azul vívido
$info-alt: #2980b9; // Azul más oscuro y serio

$warning: #f1c40f; // Amarillo dorado
$warning-alt: #e67e22; // Naranja-ámbar para más contraste

$danger: #e74c3c; // Rojo vivo
$danger-alt: #c0392b; // Rojo sangre más oscuro

$light: #ecf0f1; // Gris muy claro
$light-alt: #d5dbdb; // Gris claro con más contraste

$dark: #2c3e50; // Azul oscuro
$dark-alt: #1c2833; // Azul casi negro para más profundidad

$theme-colors: (
  'primary': $primary,
  'primary-alt': $primary-alt,

  'secondary': $secondary,
  'secondary-alt': $secondary-alt,

  'success': $success,
  'success-alt': $success-alt,

  'info': $info,
  'info-alt': $info-alt,

  'warning': $warning,
  'warning-alt': $warning-alt,

  'danger': $danger,
  'danger-alt': $danger-alt,

  'light': $light,
  'light-alt': $light-alt,

  'dark': $dark,
  'dark-alt': $dark-alt,
);

$form-file-button-bg: $primary;
$form-file-button-hover-bg: $warning;

.btn-outline-primary:hover {
  color: white !important; // Cambia el color del texto en hover
}

body {
    background-color: $secondary !important;
    color: $light !important;
}

main {
  min-height: 45.5vh;
}

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap/scss/functions';

@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/variables-dark';
@import '../../../node_modules/bootstrap/scss/maps';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';
