@use 'bootstrap/scss/functions';
@use 'bootstrap/scss/variables' as *;
@use 'bootstrap/scss/mixins';

$primary: #f39c12;
$secondary: #34495e;
$success: #2ecc71;
$info: #3498db;
$warning: #f1c40f;
$danger: #e74c3c;
$light: #ecf0f1;
$dark: #2c3e50;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

@use 'bootstrap/scss/bootstrap';
